*{
    border-radius: none;
    background-color: none;
    width: 100%;
    padding-right: 50%;
    align-items: center;
    text-align: center ;

.menu{
    border-radius: none;
    box-sizing: content-box;
    background-color: rgb(247, 212, 138);
    width: 50px;
    font-size: large;
    margin-right: 100px;
    outline-style: none;
    text-align: center;

}


.menu a{
    margin-top: auto;
    margin-right: 10px;
    text-align: center;
    text-decoration: sandybrown;
    text-decoration-color: antiquewhite;
    padding-bottom: 10%;
}

.label{
    border-radius: none;
    width: 500%;
    box-sizing: border-box;
    flex: auto;
}

.label2{
    border-radius: none;
    box-sizing: 30px;
    background-color: aliceblue;
}

.boton{
    box-sizing: content-box;
    background-color: rgb(82, 82, 243);
    color: blanchedalmond;
    margin-right: 100%;
    width: 100px;
    padding: 2px;
    text-align: auto;
}

.texto{
    box-sizing: border-box;
    padding-bottom: 20%;
}